.insecta {
    width: 400px; 
    border-radius: 50px;
}

.model {
    width: 400px;
    border-radius: 50px;
}

.being {
    width: 400px; 
    border-radius: 50px;
}

@media only screen and (min-width: 1100px) {
    .insecta {
        width: 600px;
    }

    .model {
        width: 600px;
        
    }
    
    .being {
        width: 700px; 
    }
        
}


.container-bottom {
    display:flex;
    width:100%;
    align-items: center;
    justify-content: space-around;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-top {
    margin-bottom: 50px;
    margin-top: 50px;
}

.last-project {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}

@media only screen and (max-width: 1100px) {
    .container-bottom {
        flex-direction: column;
    }
}


